/* style.css
 * This file provides css styles.
 */


BODY,TABLE 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color:#000000}

TD          		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color:#000000}


#skintop {
	height: auto;
	margin-top: 1px;
	position: relative;
	width: auto;
}

table.skintop {
	border-collapse: collapse;
	border-spacing: 0; 
	width: auto;
}
td.skintopmenu {
	background-color: white;
	color: #3F6075;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	height: 16px;
	padding: 0;
	white-space: nowrap;
	width: 100%; 
}

span.skintopmenulinkfoerst {
	padding-left: 10px;
}
span.skintopmenulinknaest {
	padding-left: 8px;
}
span.skintopmenulinkbrud {
	padding-left: 8px;
	padding-right: 8px;
}
a.skintopmenulink {
	background-color: white;
	color: #3F6075;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}
td.skinlogoimg {
	padding: 0;
	vertical-align: bottom;            /* Af hensyn til skalering */
}
img.skinlogo {
	border: none;
	display: block;  /* Af hensyn til strict.dtd i visse browsere */
	height: 40px;
	margin: 0;
	padding: 0;
	width: 100px;
}
td.skinlogobar {
	color: #3F6075;
	background-image: url("/public/images/header_bg_gradient.gif");
	background-repeat: repeat-y;       /* Af hensyn til skalering */
	background-color: #FFC61E;
	height: 31.5px;
	padding: 0;
}
div.skinlogobarminbredde { /* Holder logo vaek fra gradueret topfarve */
	height: auto;
	width: 440px;                 /* 600px - width paa logo 160px */
}


/* header footer common */
header, footer {
	width: 100%;
	text-align: center;
}
h1, h2{
	margin-left:auto;
    margin-right:auto;
}
.button{
	margin-left:auto;
    margin-right:auto;
    text-align: center;
}
hr{
	color: #0000a0;
	border-color: #0000a0;
	background-color: #0000a0;	
}

.container {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.banner {
	background: #5586D6;
	color: #fff;
	padding: 10px;
}

/* positions */
header {
	padding-top: 20px;
	font-size: 1.3em;
}
footer {
	padding: 10px;
	font-size: .8rem;
}
.title, .tips {
	height: 30px;
	padding-top: 20px;
	position: relative;
}
.title {
	border-radius: 40px 40px 0 0;
}
.tips {
	border-radius: 0 0 40px 40px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	margin-left:auto;
    margin-right:auto;
}
.loginTable{
	width: auto;
		
}
.loginTable td{
	padding: 10px 10px 10px 10px;
		
}
.dataEntryTable td{
	padding: 10px 10px 10px 10px;
}
.loginBody{
	 vertical-align: middle;
	 margin-left:auto;
     margin-right:auto;   
     		
}

.loginHeader{
	text-align: left;
	color: #ffffff;
	background-color:  #3F6075;
	height: 10px;
	
}
.skatHeader{
	background-color: #f5da7a;
}
.content {
	font-size: .8rem;
	width: 30%;
	vertical-align: top;
}
.contentName {
	padding: 10px;
	padding-left: 20px;
	width: 25%;
	font-weight:bold;
	vertical-align: top;
}
.contentDetails {
	padding: 10px;
}
.contentAction {
	width: 10%;
	padding-right: 20px;
	text-align: right;
}

.nameText {
	font-weight: bold;
}
.records textarea {
	height: 1.2em;
	font-size: 1em;
	resize: none;
	width: 100%;
	border: none;
	overflow: hidden;
	background-color: transparent;
	font-size: .9em;
}

/* buttons */
.detailBtn {
	position: absolute;
	left: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
.addBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.detailBtn img{
	width: 20px;
	height: 20px;
}
.deleteBtn{
  background-image: url("../images/sprite.png");
  background-position: -5px -568px;
  width: 18px;
  height: 18px;
    display:inline-block;
}

tr:hover .deleteBtn {

	cursor: pointer;
}


.tableRows{
	border: 2px solid #DFE3E6
}



.fieldname {
	text-align: right;
	border-right: 1px solid #fff;
}

.errorMsg {
	color: red;
	font-weight:normal;
}
.newappIcon {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
	padding: 10px;
}

.appTitle {
	padding: 15px;
  margin: 0 auto;
  text-align: center;
	font-size: 1.5rem;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.infoImg {
	cursor: pointer;
}
.flexBox {
	display: flex;
	flex-wrap: wrap;
}
.contentTiles {
		padding: 10px;
		font-size: .8rem;
}
.uploadBox {
  margin: 0 auto;
  text-align: center;
}
.appinfo {
	padding: 10px;
}
